* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.App {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #111111;
}